.paginator__main {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: 15px;
    .paginator__previous-button {
      text-align: right;
      button {
        span {
          font-size: 18px;
        }
      }
    }
  
    .paginator__next-button {
      text-align: left;
      button {
        span {
          font-size: 18px;
        }
      }
    }
  
    .paginator__page-count {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 15px;
      .page__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        height: 30px;
        width: 30px;
        cursor: pointer;
        border-radius: 50%;
        @apply text-primaryGreen border border-primaryGreen
      }
    }
  }
  
  .page-active {
    color: #fff !important;
    @apply bg-primaryGreen;
  }