<div
  class="max-w-0 md:max-w-[275px] md:min-w-[275px] rounded-r-[8%] bg-primaryGreen h-full flex flex-col space-y-16 transition-all delay-75 ease-in-out overflow-hidden"
>
  <!-- Brand -->
  <div class="flex px-8 space-x-4 items-center w-full mt-5">
    <div class="h-14 w-14 flex items-center justify-center relative">
      <img
        src="../../../assets/images/groceteria-logo-white-small.png"
        alt="groceteria-brand"
        class="w-fit"
      />
    </div>
    <h3 class="text-2xl text-white font-semibold">Groceteria</h3>
  </div>

  <!-- Mrnu box -->
  <div class="flex flex-col space-y-5">
    <!-- Menu items 1: Dashboard -->
    <div
      class="flex space-x-5 justify-start items-center cursor-pointer px-5 pl-12 py-3 hover:bg-white rounded-l-[30px] text-white transition-all delay-75 ease-in-out hover:text-deepGreen"
    >
      <div class="material-symbols-outlined">dashboard</div>
      <h4 class="font-semibold text-md font-opensans">Dashboard</h4>
    </div>

    <!-- Menu items 2: Api Clients -->
    <div
      class="flex space-x-5 justify-start items-center cursor-pointer px-5 pl-12 py-3 hover:bg-white rounded-l-[30px] text-white transition-all delay-75 ease-in-out hover:text-deepGreen"
    >
      <div class="material-symbols-outlined">devices</div>
      <h4 class="font-semibold text-md font-opensans">Api clients</h4>
    </div>

    <!-- Menu items 2: Api Clients -->
    <div
      class="flex space-x-5 justify-start items-center cursor-pointer px-5 pl-12 py-3 hover:bg-white rounded-l-[30px] text-white transition-all delay-75 ease-in-out hover:text-deepGreen"
    >
      <div class="material-symbols-outlined">key</div>
      <h4 class="font-semibold text-md font-opensans">Api scopes</h4>
    </div>

    <!-- Menu items 2: Api Clients -->
    <div
      class="flex space-x-5 justify-start items-center cursor-pointer px-5 pl-12 py-3 hover:bg-white rounded-l-[30px] text-white transition-all delay-75 ease-in-out hover:text-deepGreen"
    >
      <div class="material-symbols-outlined">badge</div>
      <h4 class="font-semibold text-md font-opensans">Identity resources</h4>
    </div>
  </div>
</div>
