<div
  class="max-w-0 md:max-w-[275px] md:min-w-[250px] rounded-r-[8%] bg-primaryGreen h-full flex flex-col space-y-12 transition-all delay-75 ease-in-out overflow-hidden"
>
  <!-- Brand -->
  <div class="w-full mt-12">
    <div class="ml-6 w-40">
      <img
        src="../../../assets/images/Groceteria-logos_white_big.png"
        alt="groceteria-brand"
        class="filter contrast-125 saturate-50 w-fit"
      />
    </div>
  </div>
 
  <!-- Mrnu box -->
  <div class="flex flex-col space-y-5">
    <!-- Menu items 1: Dashboard -->
    <div
      routerLink="dashboard"
      routerLinkActive="route-active"
      [queryParamsHandling]="'merge'"
      class="flex space-x-5 justify-start items-center cursor-pointer px-5 pl-8 py-3 hover:bg-white rounded-l-[30px] text-white transition-all delay-75 ease-in-out hover:text-deepGreen"
    >
      <div class="material-symbols-outlined">dashboard</div>
      <h4 class="font-semibold text-md font-opensans">Dashboard</h4>
    </div>

    <!-- Menu items 2: Api Clients -->
    <div
      routerLink="api-clients"
      routerLinkActive="route-active"
      class="relative flex space-x-5 justify-start items-center cursor-pointer px-5 pl-8 py-3 hover:bg-white rounded-l-[30px] text-white transition-all delay-75 ease-in-out hover:text-deepGreen"
    >
      <div class="material-symbols-outlined">devices</div>
      <h4 class="font-semibold text-md font-opensans">Api clients</h4>
      <div class="text-xs font-semibold absolute right-5 top-4">{{ appCount.apiClientCount }}</div>
    </div>

    <!-- Menu items 2: Api Clients -->
    <div
      class="flex space-x-5 justify-start items-center cursor-pointer px-5 pl-8 py-3 hover:bg-white rounded-l-[30px] text-white transition-all delay-75 ease-in-out hover:text-deepGreen"
    >
      <div class="material-symbols-outlined">key</div>
      <h4 class="font-semibold text-md font-opensans">Api scopes</h4>
      <div class="text-xs font-semibold"></div>
    </div>

    <!-- Menu items 2: Api Clients -->
    <div
      class="flex space-x-5 justify-start items-center cursor-pointer px-5 pl-8 py-3 hover:bg-white rounded-l-[30px] text-white transition-all delay-75 ease-in-out hover:text-deepGreen"
    >
      <div class="material-symbols-outlined">badge</div>
      <h4 class="font-semibold text-md font-opensans">Identity resources</h4>
      <div class="text-xs font-semibold"></div>
    </div>
  </div>
</div>
