<div class="p-3 pt-5 flex remaining-width items-center">
    <!-- Navbar toggler-->
    <div  class="flex items-center md:ml-10 p-2 text-sm rounded-full text-gray-400 cursor-pointer">
        <div class="material-symbols-outlined text-md">menu</div>
    </div>

    <!-- search -->
    <div class="flex mx-auto -mt-1 p-2 pl-5 bg-slate-100 w-2/5 rounded-full shadow-md">
        <input type="text" placeholder="search" class="focus:outline-none w-full bg-slate-100 text-sm text-gray-600"/>
        <div class="material-symbols-outlined font-light text-gray-300">search</div>
    </div>
    
    <!-- Navbar menus -->
    <div class="ml-auto flex space-x-8 items-center mr-5 mt-1">
        <div class="flex items-center">
            <div class="material-symbols-outlined text-gray-400 text-2xl cursor-pointer">notifications</div>
        </div>
        <div class="flex items-center">
            <div class="h-8 w-8 flex items-center justify-center rounded-full bg-primaryGreen text-white cursor-pointer">S</div>
            <h3 class="ml-3">Admin</h3>
            <div class="material-symbols-outlined cursor-pointer text-gray-400 ml-3">expand_more</div>
        </div>
    </div>
</div>