<main class="flex h-full max-h-full overflow-y-auto overflow-x-hidden">
  <groceteria-sidenav [appCount]="appCounts"></groceteria-sidenav>
  <div class="overflow-y-auto overflow-x-hidden h-full w-full">
    <groceteria-navbar></groceteria-navbar>
    <div class="w-full pl-10 py-10">
      <groceteria-app-page-header></groceteria-app-page-header>
      <div class="pr-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<div
  class="absolute top-0 left-0 flex flex-col items-center justify-center w-full h-screen bg-white z-10 opacity-100 visible transition-all delay-500 ease-out"
  [class.overlay__hidden]="!isAppBusy && isAuthenticated"
>
  <mat-spinner diameter="40" color=""></mat-spinner>
  <div class="text-md text-gray-500">Please wait</div>
</div>
